* {
  margin: 0;
  padding: 0;
}

.sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30px;
  /* margin-top: 3%;
  margin-left: 5%; */
  animation-iteration-count: infinite;
}

#rect {
  animation-name: rainbow;
  animation-duration: 12s;
}

@keyframes rainbow {
  0% {
    background: linear-gradient(
      90deg,
      rgb(245, 157, 24),
      rgb(230, 208, 8),
      rgb(245, 242, 68)
    );
    left: 10%;
  }
  50% {
    background: linear-gradient(
      90deg,
      rgb(245, 157, 24),
      rgb(230, 208, 8),
      rgb(236, 214, 15)
    );
    left: 70%;
  }
  100% {
    background: linear-gradient(
      90deg,
      rgb(245, 157, 24),
      rgb(252, 175, 60),
      rgb(250, 226, 7)
    );
    left: 10%;
  }
}

#back {
  /* position: absolute;
  top: 0;
  left: 0; */
  /* padding: 0;
  margin: 0;
  margin-top: 0%;
  margin-left: 0%; */

  position: relative;
  width: 100%;
  height: 88%;
  background: linear-gradient(
    180deg,
    rgb(22, 173, 243) 50px,
    rgb(75, 197, 228) 300px,
    rgb(172, 224, 228) 700px
  );
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(58, 133, 8);
}

.parent {
  width: 700px;
  height: 350px;
  position: absolute;
  top: 300px;
  left: 45%;
  background-color: transparent;
}

.house {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 200px;
  height: 300px;
  background-color: rgb(255, 236, 236);
  clip-path: polygon(50% 0%, 100% 36%, 100% 100%, 0 100%, 0 36%);
  border-style: solid;
  border-color: black;
}

.roof {
  position: absolute;
  top: 11%;
  left: 26.7%;
  width: 341px;
  height: 110px;
  background-color: rgb(250, 87, 37);
  transform: skewX(43deg);
  border-style: solid;
  border-color: black;
}
.bottom {
  position: relative;
  top: 40%;
  left: 34.7%;
  width: 326px;
  height: 200px;
  background-color: rgb(255, 236, 236);
  border-style: solid;
  border-color: black;
}
.roof1 {
  position: absolute;
  top: 11%;
  left: 11.5%;
  width: 10px;
  height: 110px;
  background-color: rgb(248, 87, 38);
  transform: skewX(-43deg);
  border-style: solid;
  border-color: black;
}

.door {
  position: absolute;
  top: 59%;
  left: 30%;
  width: 90px;
  height: 120px;
  background-color: rgb(204, 123, 47);
  border-radius: 50% 50% 0% 0%;
  border-style: solid;
  border-color: black;
}

.nob {
  position: absolute;
  top: 60%;
  left: 80%;
  width: 8px;
  height: 8px;
  background-color: rgb(189, 89, 31);
  border-style: solid;
  border-radius: 50%;
  border-color: black;
}

.window {
  position: absolute;
  top: 77%;
  left: 67%;
  width: 80px;
  height: 60px;
  background-color: rgb(72, 202, 211);
  border-style: solid;
  border-radius: 10%;
  border-color: black;
}

.window1 {
  position: absolute;
  top: 77%;
  left: 77%;
  width: 80px;
  height: 60px;
  background-color: rgb(72, 202, 211);
  border-style: solid;
  border-radius: 10%;
  border-color: black;
}

#ball {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 300px;
  margin-left: 20%;
  border-radius: 50%;
  border: solid 1px black;
  background: linear-gradient(35deg, #db1122, #f53f3f);
  animation-name: bounce;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: 249px;
    width: 60px;
    height: 40px;
  }
  100% {
    top: 0px;
  }
}
